.button {
  border-radius: var(--radius);
  font-size: var(--fz-base);
  line-height: var(--lh-base);
  transition-property: color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease;
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  user-select: none;

  > svg {
    pointer-events: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 50%;
  }
}

// Size

.button[data-size='base'] {
  padding: var(--space-xs) var(--space-sm);
  height: var(--size-button-base);

  > svg {
    height: var(--lh-sm);
    width: var(--lh-sm);
  }
}

.button[data-size='sm'] {
  padding: calc(var(--space-xs) - 2px) var(--space-sm);
  height: var(--size-button-sm);

  > svg {
    height: 1em;
    width: 1em;
  }
}

// Variant

.button[data-variant='primary'] {
  background-color: hsl(var(--color-primary));
  color: hsl(var(--color-primary-foreground));

  &:hover {
    background-color: hsl(var(--color-primary) / 80%);
  }
}

.button[data-variant='outlined'] {
  background-color: transparent;
  color: hsl(var(--color-foreground));
  border: 1px solid hsl(var(--color-border));

  &:hover {
    background-color: hsl(var(--color-accent));
    color: hsl(var(--color-accent-foreground));
  }
}

.button[data-variant='ghost'] {
  background-color: transparent;
  color: hsl(var(--color-foreground));

  &:hover {
    background-color: hsl(var(--color-accent));
    color: hsl(var(--color-accent-foreground));
  }
}
