.container {
  width: 100%;
  max-width: var(--container-text);
  padding: var(--space-base);
  margin: var(--space-xl) auto;
}

.title {
  font-size: var(--fz-3xl);
  line-height: var(--lh-3xl);
  font-weight: 700;
  margin-bottom: var(--space-base);
}

.message {
  font-size: var(--fz-lg);
  line-height: var(--lh-lg);
  margin-bottom: var(--space-base);
  color: hsl(var(--color-muted-foreground));
}
