.container {
  width: 100%;
  max-width: var(--container-text);
  margin: var(--space-xl) auto;
  padding: var(--space-base);
}

.title {
  font-size: var(--fz-3xl);
  line-height: var(--lh-3xl);
  margin-bottom: var(--space-base);
  font-weight: 700;
}

.content {
  margin-bottom: var(--space-base);
  :first-child {
    margin-top: 0;
  }
}

.actions {
  display: flex;
  gap: var(--space-xs);
}
