.container {
  width: 100%;
  max-width: var(--container-base);
  margin: var(--space-xl) auto;
  padding: var(--space-base);
}

.title {
  font-size: var(--fz-3xl);
  line-height: var(--lh-3xl);
  font-weight: 700;
  margin-bottom: var(--space-lg);
}

.actions {
  display: flex;
  gap: var(--space-base);
  margin-bottom: var(--space-lg);
}

.projects {
  display: flex;
  flex-direction: column;
}
