:root {
  /* color */
  --color-border: 0 0% 80%;
  --color-foreground: 0 0% 0%;
  --color-background: 0 0% 100%;
  --color-muted-foreground: 0 0% 50%;
  --color-primary: 0 0% 0%;
  --color-primary-foreground: 0 0% 100%;
  --color-secondary: 0 0% 85%;
  --color-secondary-foreground: 0 0% 0%;

  /* font size */
  --font-sm: 0.875rem / 1.25rem;
  --font-base: 1rem / 1.5rem;
  --font-lg: 1.125rem / 1.75rem;
  --font-xl: 1.25rem / 1.75rem;
  --font-2xl: 1.5rem / 2rem;
  --font-3xl: 1.875rem / 2.25rem;
  --font-4xl: 2.25rem / 2.5rem;
  --font-5xl: 3rem / 1;

  /* space */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.25rem;
  --space-2xl: 5.25rem;

  /* number */
  --radius: 0.625rem;
  --container-base: 1200px;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: var(--font-inter, "inter"), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-color: hsl(var(--border));
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
