@use '../../home.module.scss';

.video {
  border-radius: var(--radius);
  background-color: hsl(var(--color-muted));
  box-shadow: 0 0 0 1px hsl(var(--color-border));
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--space-base);
  margin-bottom: var(--space-lg);
}

.videoCaption {
  margin-top: var(--space-xs);
  color: hsl(var(--color-muted-foreground));
  font-size: var(--fz-base);
  line-height: var(--lh-base);
  a {
    text-decoration: underline;
  }
}
