.tag {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: hsl(var(--color-blue));
  font-weight: 500;
}

.icon {
  height: var(--lh-sm);
  width: var(--lh-sm);
  pointer-events: none;
}
