@use '../input/input.module.scss';

.label {
  font-size: var(--fz-base);
  line-height: var(--fz-base);
  margin-bottom: var(--space-xs);
  display: inline-block;
}

.message {
  color: hsl(var(--color-muted-foreground));
  margin-top: var(--space-2xs);
  display: inline-block;
}

.control {
  @extend .control;
}
