.card {
  box-shadow:
    0 1px hsl(var(--color-border)),
    0 -1px hsl(var(--color-border));
  background-color: hsl(var(--color-background));
  padding-block: var(--space-lg);
}

.content {
  width: 100%;
  max-width: var(--container-text);
}

.title {
  font-size: var(--fz-2xl);
  line-height: var(--lh-2xl);
  font-weight: 700;
  margin-bottom: var(--space-xs);
}

.description {
  font-size: var(--fz-lg);
  line-height: var(--lh-lg);
  color: hsl(var(--color-muted-foreground));
  margin-bottom: var(--space-sm);
}

.services {
  display: flex;
  gap: var(--space-base);
  margin-bottom: var(--space-base);
}

.button {
  width: fit-content;
  margin-bottom: var(--space-base);
}

.image {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: hsl(var(--color-muted));
  border-radius: var(--radius);
  object-fit: cover;
}
