@use '../../create-drawing-dialog.module.scss';

.canvasWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--color-border));
  overflow: hidden;
  margin-bottom: var(--space-base);
}

.tools {
  display: flex;
  justify-content: space-between;
}

.toolsGroup {
  display: flex;
  gap: var(--space-xs);
}

.alert {
  margin-top: var(--space-sm);
}

.alertIcon {
  color: hsl(var(--color-orange));
}
