.alert {
  padding: var(--space-sm);
  border-radius: var(--radius);
  border: 1px solid hsl(var(--color-border));
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.title {
  font-size: var(--fz-lg);
  line-height: var(--lh-lg);
  font-weight: 500;
}

.description {
  font-size: var(--fz-base);
  line-height: var(--lh-base);
  color: hsl(var(--color-muted-foreground));
}

.action {
  margin-left: auto;
}
